<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <title>About</title>

</head>
<body>
    
{{> navbar}}


   <div class="row">
รง
     <div class="col-8">
        <h1>Empresa</h1>
     </div>

     <div class="col-8">
       <img src="assets/img/img_prueba.png" class="img-thumbnail"/>
    </div>
</div>


{{> footer}}

</body>
</html>